@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background:#212f45;
}
.bodypart{
    background:#212f45;
    width: 100%;
    overflow: hidden;
   
}

.Navbar
{
    padding: 10px;
    width: 100%;
    background-color: #212f45;
    
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.Navbar .Logo
{
    margin: 0% 2%;
    width: 3rem;
    height: 3rem;
}
.Navbar .Logo img
{
    width: 3rem;
    height: 3rem;
}
.Serchbox
{
    border-radius: 30px;
    display: flex;
    padding: 0% 1%;
    Margin: 0% 1%;
    flex-wrap: wrap;
    width: 400px;
    overflow: hidden;
    height: 2.5rem;
    color: rgb(255, 255, 255);
    background-color: rgba(53, 52, 52, 0.644);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.397) inset;
}
.Serchbox input, .Serchbox input::placeholder{
    background-color: rgba(53, 52, 52, 0);
    border:none;
    padding: 1% 3%;
    outline: none;
    color: rgba(255, 255, 255, 0.452);
    width: 340px;
    height: 2.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.links{
    justify-content: center;
align-items: center;
text-align: center;
padding: 1%;
    width: 30rem;
}
.links a{

    text-decoration: none;
    color: #fff;
    Margin: 0% 1%;
    font-weight: bold;
    font-family:'Source Code Pro', monospace;
    cursor: pointer;
    transition: .6s;
}

.links a:hover
{   
    color: rgba(25, 192, 3, 0.938);
    

}

/* ----------------------------------Landing Page----- */

.Landingpage{
   width: 100%;
    height: 100vh;
    background: #212f45;
    display: flex;
    align-items: center;
   justify-content: center;
   box-sizing: border-box;
    overflow: hidden;
    padding: 2%;
}
.infoPart{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    overflow:hidden;
    align-items: center;
    flex-direction: column;
}
/* media queerry
 */
.projectPart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contentpart::-webkit-scrollbar{
    display: none;
}
.contentpart
{background: #212b3d;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.26) inset;
    background-position: center;
    border-radius: 15px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
    height: 100%;
    align-items: center;
    transition: .7s;
}
.contentpart h1{
    width: 100%;
    padding: 1%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(61, 60, 60, 0.13);
}
.contentpart:hover{
    width:80%;
}
.infoPart .infoPartimage{ 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0px rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-sizing: border-box;
    
    overflow: hidden;

}
.infoPart .infoPartimage .infoPartimage_bg {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    border-radius: 50%;
    background-image: url("./resources/my.png");
    transition: .6s;
   background-size: cover;
}

.infoPart .infoPartimage_bg:hover{

    transform: translateY(-5px);

}
.Detailspart{
    width: 69%;
    margin: 25px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #48bfe3;
    
}
.Detailspart h2{
    font-size:1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Source Code Pro', monospace;
    color: #48bfe3;
}

.Detailspart:hover {
    transform: translateX(0);
    opacity: 1;
}

button{
    padding: 10px 20px;
    background-color: #212b3d;
    border-radius: 15px;
    outline: none;
    border: none;
    color: oldlace;
    font-size:14px;
    font-family: 'Source Code Pro', monospace;
    margin:8% 0% 0% 0%;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.26) inset;
    cursor: pointer;
}
button:hover{
    background-color: #48bfe3;

    color: rgb(0, 0, 0);
}
.Maincard{
    margin: 5%;
}
.Card{
    width: 300px;
    overflow: hidden;
    border-radius: 25px;
    background-color: #0b525b;
    text-align: center;
    transition: .7s;
}

.Card:hover{
    transform: translateY(-15px);
}
.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
padding: 5%;

font-size: 2em;
}
.socialmedia div{
    padding: 5% 30%;
    transition: .6s;
}
.socialmedia div a{
    color: #fff;
}
.socialmedia div:hover,.socialmedia div:hover a{
    color: #91e2fa;
    transform: scale(1.5);
}
.image{
    width: 300px;

    overflow: hidden;
}
.Card img{
    filter: blur(2px);
    width: 300px;
    transform: scale(1.2);
    transition: .7s;
   
  
}
.Card img:hover{
    filter: blur(0px);
    transform: scale(1.4);
}
.details{
    text-align: left;
    padding: 20px;
}
.details h2{
    margin: 2% 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
   
    color: rgb(247, 247, 247);
}
.details p{
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    color:rgb(185, 185, 185)
}








@media only screen and (max-width: 1024px) {
    .Detailspart h2{
        font-size:1.7em;
       
    }
    .Navbar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Serchbox{
        margin: 4% 2%;
        padding: 0% 2%;
    }
    .Card{
        width: 270px;
        
    }
    .Landingpage{
        height: 200vh;
         flex-direction: column;
         align-items: center;
        justify-content: center;
        padding: 4% 2%;
     }
     .contentpart{
         width: 90%;
         height: 70%;
     }
     .contentpart:hover{
         width: 100%;
     }
     
.projectPart{

    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    width:100%;
    height: 88%;
}
.infoPart{
    width: 100%;
}
.projectPart::-webkit-scrollbar{
    display: none;
}

  }


  
@media only screen and (max-width: 450px) {
    .Serchbox input, .Serchbox input::placeholder{
        width: 90%;
        
    }
    .Detailspart h2{
        font-size:1.7em;
       
    }
    .Serchbox{
        width: 90%;
    }
    .links{
        width: 90%;
    }
     .contentpart{
         width: 90%;
         height: 100%;
     }

  }